{% extends '_base.html' %}
{% load staticfiles %}
{% load sass_tags %}

{% block head_css %}
<link rel="stylesheet" href="{% static 'css/vendor/featherlight.min.css' %}">

{% if WAZIMAP.default_profile == 'youth' %}
<link rel="stylesheet" href="{% sass_src 'css/wazimap_youth.scss' %}">
{% else %}
<link rel="stylesheet" href="{% sass_src 'css/wazimap_za.scss' %}">
{% endif %}
{% endblock %}


{% block favicon %}

{% endblock %}

{% block header_logo %}
<img src="{% static 'img/sifar-logo.png' %}">
{% endblock %}

{% block header_menu %}
  <li><a href="/about">About</a></li>
  <li><a href="/help">Help</a></li>
{% endblock %}

{% block header_branding %}
{% endblock %}

{% block body_javascript_extra %}
{{ block.super }}
<!--Start of Zendesk Chat Script-->


{% if WAZIMAP.default_profile == 'census' %}
<script type="text/javascript" src="{% static 'js/wazimap-za.js' %}"></script>
{% endif %}
<!--End of Zendesk Chat Script-->
{% endblock %}
