{% extends 'help.html' %}{% load partition staticfiles %}

{% block content %}
  <article id="help">
      <header>
        <h1 class="article-header">Using {{ WAZIMAP.name }}</h1>
      </header>
      {% if WAZIMAP.video_links %}
      <section class="clearfix">
        <p>Check out the videos below for tips on how to use {{ WAZIMAP.name }}.</p>
        <span class="column-half">
          <h2 class="subhead">A quick introduction to {{ WAZIMAP.name }}</h2>
          <div class="video-wrapper">
            <iframe width="560" height="315" src="{{ WAZIMAP.video_links.intro }}" frameborder="0" allowfullscreen></iframe>
          </div>
        </span>
        <span class="column-half">
          <h2 class="subhead">Viewing data in tables</h2>
          <div class="video-wrapper">
            <iframe width="560" height="315" src="{{ WAZIMAP.video_links.table_view }}" frameborder="0" allowfullscreen></iframe>
          </div>
        </span>
        <span class="column-half">
          <h2 class="subhead">Exploring data on a map</h2>
          <div class="video-wrapper">
            <iframe width="560" height="315" src="{{ WAZIMAP.video_links.map_view }}" frameborder="0" allowfullscreen></iframe>
          </div>
        </span>
        <span class="column-half">
          <h2 class="subhead">Comparing the distribution of data between places</h2>
          <div class="video-wrapper">
            <iframe width="560" height="315" src="{{ WAZIMAP.video_links.distribution_view }}" frameborder="0" allowfullscreen></iframe>
          </div>
        </span>
        <span class="column-half">
          <h2 class="subhead">Comparing places side-by-side</h2>
          <div class="video-wrapper">
            <iframe width="560" height="315" src="{{ WAZIMAP.video_links.comparing_places }}" frameborder="0" allowfullscreen></iframe>
          </div>
        </span>
      </section>
      {% endif %}

      {% if WAZIMAP.default_profile == 'census' %}
      <section>
        <h2 class="subhead" id="faq">Frequently Asked Questions</h2>

        <ul>
          <li>
            <h3 id="faq-average-hh-income">How can I use the "Average annual household income" and "Monthly income" figures?</h3>
            <p>The "Average annual household income" and "Monthly income" figures are only an estimate and should be used with care. You can compare
            them between two places to get a general idea of how income differs, but don't rely on it as an accurate
            indicator of disposable income.</p>

            <p>We calculate the figure by finding the median income band, and then using the middle of that band's income. For example, if the median income band is "R153 801 - R307 600", then we use R230 700 as the average household income. The median income band is the band at which the incomes of half of households are at or below.</p>
          </li>

          <li>
            <h3 id="faq-2011">Why is the data from 2011?</h3>
            <p>Most of the {{ WAZIMAP.name }} data is from the 2011 Census conducted by <a href="http://www.statssa.gov.za/">Stats SA</a>. A full census is only conducted every 10 years. The <a href="http://cs2016.statssa.gov.za/">Community Survey 2016</a> has additional data and we're looking at how to make it available in {{ WAZIMAP.name }}. The Community Survey data is not available at ward level and is not as comprehensive as the 2011 Census.</p>
          </li>
        </ul>
      </section>
      <section>
	  <h2 class="subhead"> Tutorial on using the explorer Service</h2>
	  <p>The <a href="{% url 'explorer:home' %}">explorer application</a> allows users to select,view and filter point data.</p>
	  <p>Upon accessing the application the user will be presented with the interface.</p>
	  <img width="auto" height="480" src="{% static 'img/explorer-home.png' %}"/>
	  <br/>
	  <br>
	  <p>To add point data click on Add Layer.</p>
	  <p> A popup menu will appear showing various datasets which are avaliable.</p>
	  <img width="auto" height="480" src="{% static 'img/explorer-choices.png' %}"/>
	  <br/>
	  <br>
	  <p>Upon selecting a dataset, in this case Private Pharmacies, the points from the dataset will appear on the map.</p>
	  <img width="auto" height="480" src="{% static 'img/explorer-show-points.png' %}"/>
	  <br/>
	  <br>
	  <p>Upon hovering over the point, by default the latitude/longitude of that point will be shown
	  </p>
	  <img width="auto" height="480" src="{% static 'img/explorer-hover-points.png' %}"/>
	  <br/>
	  <br>
	  <p>
	      The information that is shown when hovering over a point can be changed.
	  </p>
	  <p>
	      Click on the tooltip icon towards the top of the menu.
	  </p>
	  <h3 class="subhead">Tooltips</h3>
	  <img width="auto" height="480" src="{% static 'img/explorer-tooltip.png' %}"/>
	  <br/>
	  <br>
	  <p>The tooltip menu allows you to select which columns of the dataset will be made visible when hovering over a point.
	  </p>
	  <img width="auto" height="480" src="{% static 'img/explorer-points-change.png' %}"/>
	  
	  <br/>
	  <br>
	  <p>After selecting the desired columns, click on update, this will update the data on the points</p>
	  <h3 class="subhead">Filtering Points</h3>
	  <p>Points on the map can be filtred according to certain citeria.</p>
	  <p>Click on the filter icon so see the filter menu.</p>
	  <img width="auto" height="480" src="{% static 'img/explorer-filter.png' %}"/>
	  <br/>
	  <br>
	  <p>To add a new filter, click on Add Condition</p>
	  <ul>
	      <li>Datasource - The dataset in which the filter will be applied on</li>
	      <li>Column - The column in the dataset</li>
	      <li>Value - The value in the column</li>
	  </ul>
	  <img width="auto" height="480" src="{% static 'img/explorer-tooltip-column.png' %}"/>
	  <p>After entring these values click on Done.</p>
	  <p> This will apply the filter to the map.</p>
	  <img width="auto" height="480" src="{% static 'img/explorer-filter-filtered.png' %}"/>
	  <br/>
	  <br>
	  <p>Multiple filters can be added to a map.
      </section>
      {% endif %}
  </article>
{% endblock %}
